@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1D1616;
    --secondary-color: #8E1616;
    --tertiary-color: #D84040;
    --accent-color: #EEEEEE;
    --bg-color: #481E14;

    /* button contact */
    --gradient-from: #ec4899;
    --gradient-via: #ef4444;
    --gradient-to: #f59e0b;
}

#slideshow {
    transition: opacity 0.6s ease-in-out;
    transform: translate(-50%, -1%);
    /* base fix center */
}

.rgb-glitch {
    animation: rgbGlitch 10s infinite;
}

@keyframes rgbGlitch {
    0% {
        filter: none;
        transform: translate(-50%, -1%);
    }

    20% {
        filter: drop-shadow(-2px 0 red) drop-shadow(2px 0 cyan);
        transform: translate(-50%, -1%);
    }

    40% {
        filter: drop-shadow(-4px 0 red) drop-shadow(4px 0 cyan);
        transform: translate(-50%, -1%) skew(3deg);
    }

    60% {
        filter: drop-shadow(-1px 0 red) drop-shadow(1px 0 cyan);
        transform: translate(-50%, -1%) skew(-3deg);
    }

    80% {
        filter: none;
        transform: translate(-50%, -1%) translate(2px, -2px);
    }

    100% {
        filter: none;
        transform: translate(-50%, -1%);
    }
}